@using OSM.Web.ViewComponents.Member
@model IDictionary<OSM.Models.Badge, IList<OSM.Models.BadgeCompletion>>

@{
    ViewBag.Title = "Chief Scout Award";
    var highlight = false;
    var module = "a";
}


<style>
    table {width:100%}
    table th {
        width: 20rem;
    }
    
    table tr td:nth-child(3) {
        width: 40rem;
    }
    
    td, th {
        vertical-align: top;
        border: 1px solid black;
    }
    
    .rowHighlight {
        background-color: #dee;
    }
    
    .taskComplete {
        background-color: lightgreen !important;
    }
    
    summary h3 { display: inline; }
</style>


@foreach (var badge in Model.Keys)
{
    highlight = !highlight;
    var badgeCompletion = Model[badge].FirstOrDefault();
    var badgeCompleted = badgeCompletion?.Completed ?? false;

    <details @(!badgeCompleted ? "open" : string.Empty)>
        <summary><h3>@badge.Name @(badgeCompleted ? "(Complete)" : string.Empty)</h3></summary>
        <p>@badge.Description</p>
        <table>
            @foreach (var badgeCriteria in badge.Criteria)
            {
                if (!badgeCriteria.Module.Equals(module))
                {
                    module = badgeCriteria.Module;
                    highlight = !highlight;
                }
                var completionRecord = badgeCompletion
                    ?.Achievements
                    .FirstOrDefault(a => a.Key == badgeCriteria.Id)
                    .Value ?? string.Empty;
                var completed = !string.IsNullOrEmpty(completionRecord) && !completionRecord.StartsWith('x');
                
                <tr class="@(highlight ? "rowHighlight" : string.Empty)">
                    <th>@badgeCriteria.Name</th>
                    <td>&nbsp;@badgeCriteria.Module.ToUpperInvariant()&nbsp;</td>
                    <td>@Html.Raw(badgeCriteria.Description.Replace("*", "<br />*"))</td>
                    <td class="@(completed ? "taskComplete" : string.Empty)">@completionRecord</td>
                </tr>
            }
        </table>
    </details>
}